/* This is for the main page styling */
.main-header {
    text-align: center;
    margin-bottom: 3%;
}



/* This is for the basic business webpage */
.front-page-main {
    font-weight: bold;
}

.footer {
    height: 100px;
    background: white;
}

.section-head-main {
    font-size: 22px;
    margin-bottom: -17px;
}

.section-head-a, .section-head-b, .section-head-c {
    font-size: 22px;
    margin-bottom: 0px;
}

.bodyRowA {
    margin-bottom: 30px;
}

.bodyRowC {
    margin-bottom: 30px;
}

.bodyRowD {
    margin-bottom: 30px;
}

h2 {
    color: black;
    font-family: 'Calistoga', cursive;
}

.section-head-main {
    color: black;
    font-family: 'Calistoga', cursive;
}

.section-head-a {
    color: rgb(0, 107, 0);
    font-family: 'Calistoga', cursive;
}

.section-head-b {
    color: purple;
    font-family: 'Calistoga', cursive;
}

.section-head-c {
    color: #c31432;
    font-family: 'Calistoga', cursive;
}

.titleLink {
    color: black;
}
.titleLink:hover {
    color:black;
}

.titleLink:visited {
    color: black;
}

/* This is for the advertisement section if I choose to do it */
.advertisement {
    margin-left: 3%;
    height: 1px;
    position: fixed;
    top: 100px;
}

.advPic {
    margin-bottom: 250%;
}

@media only screen and (max-width: 1540px) {
    .advertisement {
      display: none !important;
    }
}

/* This is for the Navbar */
header {
    width: 100%;
    /* position: sticky; */
    margin-bottom: 165px;
}

li {
    display: inline;
    margin-right: 30px;
    padding-left: 20px;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    background: #414547;
}

a:visited {
    color: white;
}

.title-bar {
    text-align: center;
    background-color: #242729;
    position: fixed;
    top: 0;
    width: 100%;
}