     /* This is for the main page styling */
          .main-header {
               text-align: center;
               margin-bottom: 3%;
          }

          /* This is for the basic business webpage */
          .front-page-main {
               font-weight: bold;
          }

          .footer {
               height: 100px;
               background: white;
          }

          .section-head-main {
               font-size: 22px;
               margin-bottom: -17px;
          }

          .section-head-a,
          .section-head-b,
          .section-head-c {
               font-size: 22px;
               margin-bottom: 0px;
          }

          .bodyRowA {
               margin-bottom: 30px;
          }

          .bodyRowC {
               margin-bottom: 30px;
          }

          .bodyRowD {
               margin-bottom: 30px;
          }

          h2 {
               color: black;
               font-family: 'Calistoga', cursive;
          }

          .section-head-main {
               color: black;
               font-family: 'Calistoga', cursive;
          }

          .section-head-a {
               color: rgb(0, 107, 0);
               font-family: 'Calistoga', cursive;
          }

          .section-head-b {
               color: purple;
               font-family: 'Calistoga', cursive;
          }

          .section-head-c {
               color: #c31432;
               font-family: 'Calistoga', cursive;
          }

          .titleLink {
               color: black;
          }

          .titleLink:hover {
               color: black;
          }

          .titleLink:visited {
               color: black;
          }

          /* This is for the advertisement section if I choose to do it */
          .advertisement {
               margin-left: 3%;
               height: 1px;
               position: fixed;
               top: 100px;
          }

          .advPic {
               margin-bottom: 250%;
          }

          @media only screen and (max-width: 1540px) {
               .advertisement {
                    display: none !important;
               }
          }

          /* This is for the Navbar */
          header {
               width: 100%;
               /* position: sticky; */
               margin-bottom: 165px;
          }

          li {
               display: inline;
               margin-right: 30px;
               padding-left: 20px;
          }

          a {
               color: white;
               font-weight: bold;
          }

          a:hover {
               color: white;
               background: #414547;
          }

          a:visited {
               color: white;
          }

          .title-bar {
               text-align: center;
               background-color: #242729;
               position: fixed;
               top: 0;
               width: 100%;
          }

          iframe:first-child {
               float: right;
               align-content: center;
          }

          iframe:last-child {
            float: left;
          }

    .bar {
      width: 100%;
      height: 30px;
      margin-bottom: 20px;
      background-color: #1AA883;
    }


.a-header {
    color: white;
    font-weight: bold;
}
.a-header:hover {
    color: white;
    background: #414547;
}
.a-header:visited {
    color: white;
}
.title-bar {
    text-align: center;
    background-color: #242729;
}

h2, strong, .a-article{
    color: steelblue;
    font-family: 'Calistoga', cursive;
}


.simple-article-header {
  background: #fefefe;
  padding: 1.3rem 2rem .7rem;
  border: 1px solid #cacaca;
  margin-bottom: 1rem;
}

.simple-article-header .article-date-read {
  color: #8a8a8a;
}

.simple-article-header .article-title {
  text-transform: uppercase;
}

.simple-article-header .article-title a {
  color: #0a0a0a;
}

.simple-article-header .article-title a:hover, .simple-article-header .article-title a:focus {
  color: #1779ba;
}

.simple-article-header .article-author-comments a.article-comments {
  color: #8a8a8a;
}

.simple-article-header .article-author-comments a.article-comments:hover, .simple-article-header .article-author-comments a.article-comments:focus {
  color: #1779ba;
}

.simple-article-header .article-date-read,
.simple-article-header .article-title,
.simple-article-header .article-author-comments,
.simple-article-header .article-social,
.simple-article-header .article-post-image,
.simple-article-header .article-post-content {
  margin-bottom: 0.25rem;
}

.simple-article-header .article-social {
  margin-top: 0.75rem;
}

.simple-article-header .article-social .social {
  margin-right: 0.25rem;
}

.simple-article-header .article-social .social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.simple-article-header .article-social .social.facebook:hover, .simple-article-header .article-social .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter:hover, .simple-article-header .article-social .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin:hover, .simple-article-header .article-social .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus:hover, .simple-article-header .article-social .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa {
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa.fa-comments-o {
  margin-right: 0.25rem;
}



.wide-article-link {
  background-color: #fefefe;
  padding: 1rem 1rem 0.5rem;
  border: 1px solid #cacaca;
  margin-bottom: 1rem;
}

.wide-article-link .article-title a {
  color: #0a0a0a;
}

.wide-article-link .article-title a:hover, .wide-article-link .article-title a:focus {
  color: #1779ba;
}

.wide-article-link .article-elipsis .read-more {
  font-weight: bold;
}

.wide-article-link .article-title,
.wide-article-link .article-author,
.wide-article-link .article-elipsis {
  margin-bottom: 0.25rem;
}

.wide-article-link .article-social {
  margin-top: 0.75rem;
}

.wide-article-link .article-social .social {
  margin-right: 0.25rem;
}

.wide-article-link .article-social .social.comments {
  background-color: #8a8a8a;
  color: #fefefe;
}

.wide-article-link .article-social .social.comments:hover, .wide-article-link .article-social .social.comments:focus {
  background-color: #6e6e6e;
  color: #fefefe;
}

.wide-article-link .article-social .social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.wide-article-link .article-social .social.facebook:hover, .wide-article-link .article-social .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.wide-article-link .article-social .social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.wide-article-link .article-social .social.twitter:hover, .wide-article-link .article-social .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.wide-article-link .article-social .social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.wide-article-link .article-social .social.linkedin:hover, .wide-article-link .article-social .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.wide-article-link .article-social .social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.wide-article-link .article-social .social.google-plus:hover, .wide-article-link .article-social .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.wide-article-link .article-social .social > .fa {
  color: #fefefe;
}

.wide-article-link .article-social .social > .fa.fa-comments-o {
  margin-right: 0.25rem;
}


.article-row-section {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-row-section-inner {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  max-width: 100%;
}

@media print, screen and (min-width: 40em) {
  .article-row-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@media print, screen and (min-width: 40em) {
  .article-row-section-inner {
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 83.33333%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 40em) {
  .article-row-section-inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.article-row-section-header {
  padding: 1.5rem 0;
  margin: 0;
  line-height: 1;
}

.article-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #e6e6e6;
  padding: 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
  .article-row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.article-row-img img {
  width: 100%;
}

@media print, screen and (min-width: 40em) {
  .article-row-img img {
    max-width: none;
    width: auto;
  }
}

.article-row-content {
  padding: 1.5rem 0 0;
  color: #0a0a0a;
}

@media print, screen and (min-width: 40em) {
  .article-row-content {
    padding: 0 0 0 1.5rem;
  }
}

.article-row-content-header {
  font-size: 1.5rem;
}

.article-row-content-description {
  font-size: 1.25rem;
}

.article-row-content-author,
.article-row-content-time {
  font-size: 0.875rem;
  margin-bottom: 0;
  color: #8a8a8a;
}

.article-row-reversed .article-row-content {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding: 0 1.5rem 0 0;
}

.article-row-reversed .article-row-img {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 0 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
  .article-row-reversed .article-row-content {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .article-row-reversed .article-row-img {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}


.four-up-feature {
  text-align: center;
}

.four-up-feature .four-up-feature-header {
  margin-bottom: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.four-up-feature .four-up-feature-image {
  margin-bottom: 2rem;
}

.four-up-feature .four-up-feature-text {
  margin-bottom: 2rem;
}


.responsive-blog-post {
  margin-bottom: 4rem;
}

.responsive-blog-post p {
  color: #8a8a8a;
}

.responsive-blog-post .button {
  padding: 0.85rem 3rem;
  background: #1779ba;
}

.responsive-blog-post .button:hover {
  background-color: #146aa3;
  transition: color 0.3s ease-in;
}

.responsive-blog-post .individual-post {
  margin-bottom: 4rem;
}

.responsive-blog-post h4 {
  margin-bottom: 0;
}

.responsive-blog-post h4:hover {
  text-decoration: underline;
  transition: color 0.3s ease-in;
}

@media screen and (max-width: 39.9375em) {
  .responsive-blog-post h4 {
    font-size: 1.5rem;
  }
}

.responsive-blog-post img {
  margin-bottom: 1.5rem;
}

.responsive-blog-post .date {
  font-size: 0.8rem;
  color: #8a8a8a;
}

.card-info {
  background: #fefefe;
  border: 1px solid #8a8a8a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0;
}

.card-info .card-info-label {
  border-color: transparent #8a8a8a transparent transparent;
  border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.primary {
  border-color: #1779ba;
}

.card-info.primary .card-info-label {
  border-color: transparent #1779ba transparent transparent;
  border-color: rgba(255, 255, 255, 0) #1779ba rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.secondary {
  border-color: #767676;
}

.card-info.secondary .card-info-label {
  border-color: transparent #767676 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #767676 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.info {
  border-color: #37a0e6;
}

.card-info.info .card-info-label {
  border-color: transparent #37a0e6 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #37a0e6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.alert {
  border-color: #cc4b37;
}

.card-info.alert .card-info-label {
  border-color: transparent #cc4b37 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #cc4b37 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.success {
  border-color: #3adb76;
}

.card-info.success .card-info-label {
  border-color: transparent #3adb76 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #3adb76 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.warning {
  border-color: #ffae00;
}

.card-info.warning .card-info-label {
  border-color: transparent #ffae00 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #ffae00 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info .card-info-label {
  border-style: solid;
  border-width: 0 4.375rem 2.5rem 0;
  float: right;
  height: 0px;
  width: 0px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card-info .card-info-content {
  padding: 0.5rem 1.5rem 0.875rem;
}

.card-info .card-info-label-text {
  color: #fefefe;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}

