header {
    width: 100%;
    position: sticky;
    margin-bottom: 50px;
}

li {
    display: inline;
    margin-right: 30px;
    padding-left: 20px;
}

.a-header {
    color: white;
    font-weight: bold;
}

.a-header:hover {
    color: white;
    background: #414547;
}

.a-header:visited {
    color: white;
}

.title-bar {
    text-align: center;
    background-color: #242729;
}

h2, strong, .a-article{
    color: #7303c0;
    font-family: 'Calistoga', cursive;
    text-align: left;
}

h1 {
    text-align: center;
    padding-top: 10%; 
    font-family: 'Pacifico', cursive;
    color: #7303c0;
}

.game {
    text-align: center;
    /* padding: 10%;  */
    font-family: 'Pacifico', cursive;
    color: #7303c0;
}
  
.sticky-footer-css .footer {
    height: 6rem;
    background-color: #242729;
    color: #fff;
    padding-top: 0.75rem;
    margin-left: 0rem;
    position: fixed;
    bottom: 0;
        
}

#footer-title {
    font-family: 'Calistoga', cursive;  
}
  
.navbarLink:hover {
    color: white;
    background: #414547;
} 

.top-bar, .top-bar ul{
    background-color: #7303c0;
    margin-bottom: 20px;
}

.name {
    width: 20%;
}

.email {
    width: 20%;
}

.sweepstakes {
    display: none;
}

li {
    display: inline;
    margin-right: 30px;
    padding-left: 20px;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    background: #414547;
}

a:visited {
    color: white;
}

.title-bar {
    text-align: center;
    background-color: #242729;
    position: fixed;
    top: 0;
    width: 100%;
}

.congrats {
    /* display: none; */
}

#answer {
    width: 20%;
}

.container {
    margin-left: 40px;
}

h3 {
    color: #7303c0;
    margin-top: 30px;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    border-radius: 0.12em;
    margin: 0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:' Roboto',sans-serif;
    font-weight: 300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

.over {
    display: none;
}

.hangman {
    cursor: grab;
}
  
#congrats-h1 {
    text-align: center;
}

form {
    margin-bottom: 1rem;
}
