

.titleA {
    color: #c31432;
}

.sportsPageMain {
    font-weight: bold;
}

.ad-image {
    /* margin-left: 20%; */
    width: 80%;
    height: 200px;
}

h1 {
    text-align: center;
    padding-top: 10%; 
    font-family: 'Pacifico', cursive;
    color: #c31432;
}

 .game {
    text-align: center;
    /* padding: 10%;  */
    font-family: 'Pacifico', cursive;
    color: #c31432;
}


header {
    width: 100%;
    position: sticky;
    background-color: #c31432;
    margin-bottom: 50px;
    }
nav {
text-align: left;
color: white;
font-size: 18px;
padding: 5px;
padding-top: 15px;
}
li a {
    color: white;
}
li {
    display: inline;
    margin-right: 30px;
    border-left: 1px solid #000000;
    padding-left: 60px;
}

.top-bar, .top-bar ul{
    background-color: #c31432;
    margin-bottom: 20px;
}

.name {
    width: 20%;
}
.email {
    width: 20%;
}

.sweepstakes {
    display: none;
}

header {
    width: 100%;
    position: sticky;
    margin-bottom: 150px;
}
li {
    display: inline;
    margin-right: 30px;
    padding-left: 20px;
}
a {
    color: white;
    font-weight: bold;
}
a:hover {
    color: white;
    background: #414547;
}
a:visited {
    color: white;
}
.title-bar {
    text-align: center;
    background-color: #242729;
    position: fixed;
    top: 0;
    width: 100%;
}

.congrats {
    display: none;
}
h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #c31432;
}
#answer {
    width: 20%;
}
h2 {
    text-align: center;
}

.container {
    margin-left: 40px;
}

h3{
    color: #c31432;
    margin-top: 30px;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.button {
display: inline-block;
padding: 0.46em 1.6em;
border: 0.1em solid #000000;
border-radius: 0.12em;
margin: 0 0.2em 0.2em 0;
box-sizing: border-box;
text-decoration: none;
font-family:' Roboto',sans-serif;
font-weight: 300;
color:#000000;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#FFFFFF;
text-align:center;
transition: all 0.15s;

}
.over {
    display: none;
}

h5 {
    margin-left: 40%;
}
.contact-us {
   color: #2C5364;
}

.contact-head {
    color: #434343;
    font-weight: bold;
    text-align: left;
}
.contact-name {
    width: 300px;
}

#map {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.row3 {
margin-top: 50px;
margin-bottom: 10%;
}

.last {
    margin-left: 15%;
}

.contact-container {
    width: 500px;
    float: left;
    margin-left: 20%;
}
.address {
    margin-left: 20px;
    font-family: serif;
    font-size: 22px;
}
.directions {
    float: left;
  
}


