/* This is for the basic business webpage */
.busPageMain {
    font-weight: bold;
}

.footer {
    height: 100px;
    background: white;
}

.sectionHead {
    font-size: 30px;
}

.bodyRowA {
    margin-bottom: 30px;
}

.bodyRowC {
    margin-bottom: 30px;
}

.bodyRowD {
    margin-bottom: 30px;
}

h2, .sectionHead{
    color: rgb(0, 107, 0);
    font-family: 'Calistoga', cursive;
    /* font-family: 'Playfair Display', serif;
    font-family: 'Merriweather', serif; */
}

.titleLink {
    color: black;
}
.titleLink:hover {
    color:black;
}

.titleLink:visited {
    color: black;
}

/* This is for the advertisement section if I choose to do it */
.advertisement {
    margin-left: 3%;
    height: 1px;
    position: fixed;
    top: 100px;
}

.advPic {
    margin-bottom: 250%;
}

@media only screen and (max-width: 1540px) {
    .advertisement {
      display: none !important;
    }
}

/* This is for the Navbar */
header {
    width: 100%;
    /* position: sticky; */
    margin-bottom: 180px;
}

li {
    display: inline;
    margin-right: 30px;
    padding-left: 20px;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    background: #414547;
}

a:visited {
    color: white;
}

.title-bar {
    text-align: center;
    background-color: #242729;
    position: fixed;
    top: 0;
    width: 100%;
}