/* This is for the basic business webpage */
.busPageMain {
    font-weight: bold;
}

.footer {
    height: 100px;
    background: white;
}

.sectionHead {
    font-size: 30px;
}

.bodyRowA {
    margin-bottom: 30px;
}

.bodyRowC {
    margin-bottom: 30px;
}

.bodyRowD {
    margin-bottom: 30px;
}

h2, .sectionHead{
    color: rgb(0, 107, 0);
    font-family: 'Calistoga', cursive;
    /* font-family: 'Playfair Display', serif;
    font-family: 'Merriweather', serif; */
}

a {
    color: black;
}

a:hover {
    color: black;
}

/* This is for the advertisement section if I choose to do it */
.advertisement {
    margin-left: 3%;
    height: 1px;
    /* position: sticky; */
    top: 10px;
}

.advPic {
    margin-bottom: 250%;
}

@media only screen and (max-width: 1540px) {
    .advertisement {
      display: none !important;
    }
}

/* This is for the Navbar */
header {
    width: 100%;
    position: sticky;
    background-color: #232526;
    margin-bottom: 50px;
}

nav {
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 5px;
}

li a {
    color: white;
}

li {
    display: inline;
    margin-right: 30px;
    border-left: 1px solid #000000;
    padding-left: 20px;
}